html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
img {
    display: block;
}

li {
    list-style-type: none;
}

ul,
p,
h1,
h2,
h3 {
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: 600;
}

button {
    font-family: $font-stack-Ubuntu;
    font-size: rem(16px);
}

h1,
h2,
h3 {
    font-family: $font-stack-Overpass;
}

body {
    font-size: rem(16px);
    font-family: $font-stack-Overpass;
    min-height: 100%;
}
