.intro--container {
    @include background-Gradient-Red;
    // background-image: url("../images/bg-pattern-intro.svg");
    // outline: solid rgb(72, 255, 0) 3px;
    height: 550px;
    border-radius: $border-radius;
}

.header {
    padding: 3em 2em 2em 2em;
    display: flex;
    justify-content: center;
    // outline: solid 2px red;

    .nav {
        // outline: solid black 2px;
        max-width: $max-width;
        width: 100%;

        .menu--wrap {
            display: flex;
            // outline: solid green 2px;
            align-items: center;

            .logo {
                width: 101px;
                height: 40px;
            }

            #hamburger--btn {
                display: none;
            }

            .menu--container {
                // outline: solid white 2px;
                margin-left: rem(40px);
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                .menu-buttons--wrap {
                    display: flex;
                    // outline: solid pink 2px;

                    .menu__li {
                        display: flex;

                        // outline: solid green 1px;
                        position: relative;

                        &:hover .menu-button {
                            text-decoration: underline;
                            color: white;
                        }

                        & + .menu__li {
                            margin-left: 2em;
                        }

                        .menu-button {
                            padding: 0.5em 1em 0.5em 0;
                            background: none;
                            border: none;
                            cursor: pointer;
                            text-align: start;
                            color: rgba(255, 255, 255, 0.712);
                            font-weight: 500;

                            &::after {
                                content: url("../images/icon-arrow-light.svg");
                                position: absolute;
                                right: 0px;
                                bottom: rem(10px);
                                // transition: transform 0.15s;
                            }

                            &.rotate::after {
                                transform: rotate(180deg);
                                bottom: rem(6px);
                            }

                            &.active::before {
                                display: block;
                            }

                            &.active {
                                text-decoration: underline;
                                color: color(neutral-white);
                            }
                        }

                        .dropdown-content {
                            display: none;
                            // display: flex;
                            flex-direction: column;
                            width: 100%;
                            min-width: rem(150px);
                            position: absolute;
                            top: rem(45px);
                            left: rem(-24px);
                            background: white;
                            padding: 0.5em 0 1.5em 0.5em;
                            border-radius: 5px;
                            box-shadow: $box-shadow;

                            .dropdown__link {
                                padding: 1em 1em 0 1em;
                                color: black;
                                font-weight: fontWeight(medium);

                                &:hover {
                                    font-weight: fontWeight(semi-bold);
                                }
                            }

                            &.display {
                                display: flex;
                            }
                        }
                    }
                }

                .login--wrap {
                    display: flex;
                    align-items: center;

                    .login__li {
                        & + .login__li {
                            margin-left: 2em;
                        }
                    }
                    .signup--btn {
                        background: color(neutral-white);
                        padding: 0.5em 1.75em;
                        border-radius: 999px;
                        color: color(primary-light-red);
                        font-weight: 600;
                        text-align: center;
                        display: inline-block;
                        vertical-align: text-bottom;
                        // display: flex;
                    }

                    .login--btn {
                        color: color(neutral-white);
                    }
                }
            }
        }
    }
}
